<header>
  <div class="sticky site-header align-middle" data-sticky data-options="marginTop:0" data-sticky-on="small" data-stick-to="top" data-top-anchor="splash">
    <div class="grid-x">
      <div class="cell site-logo">
        <a href="#nowplaying">
          <img src="assets/img/corner-logo.svg" class="logo-header" alt="Site Header!" />
        </a>
      </div>
      <div class="cell control-container">
        <div class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause"></div>
      </div>
      <div class="cell header-text-medium show-for-medium">
        <p class="text-logo">OTHER RADIO TEXAS<br /></p>
        <p class="header-np">NP: <span id='header_np_dj'></span> - <span id='header_np_track'></span></p>
      </div>
      <div class="cell header-text-small hide-for-medium">
        <p class="text-logo">OTHER RADIO TEXAS</p>
        <p class="header-np">
          NP: <span id='header_np_dj_small'></span> - <span id='header_np_track_small'></span>
        </p>
      </div>
    </div>
    <div class="grid-x menu-bar">
      <div class="cell shrink menu-item">
        <a href="#nowplaying">Now Playing</a> |
      </div>
      <div class="cell shrink menu-item">
        <a href="#shows">Shows</a> |
      </div>
      <!-- <div class="cell shrink menu-item">
        <a href="#schedule">Schedule</a>
      </div>
      <div class="cell shrink menu-item">
        <a href="#archive">Archive</a>
      </div> -->
      <div class="cell shrink menu-item">
        <a href="#support">Support</a>
      </div>
    </div>
  </div>

</header>

<script type="text/javascript">

  // Amplitude Nicetiesx

  Amplitude.init({
    "bindings": {
      37: 'prev',
      39: 'next',
      32: 'play_pause'
    },
    "songs": [
      {
        "name": "Other radio texas",
        "url": "https://stream.vaporwav.in/radio/8000/radio.mp3?1590795436",
        "station_art_url": "/assets/img/anvil.jpg",
        "genre": "country",
        "live": true,
        "autoplay": true
      }
    ]
  });

  window.onkeydown = function(e) {
      return !(e.keyCode == 32);
  };

  /*
    Handles a click on the song played progress bar.
  */
  document.addEventListener('click', function( e ){
    var offset = this.getBoundingClientRect();
    var x = e.pageX - offset.left;

    Amplitude.setSongPlayedPercentage( ( parseFloat( x ) / parseFloat( this.offsetWidth) ) * 100 );
  });

  // Hash Change
  // window.addEventListener("hashchange", function () {
  //     window.scrollTo(window.scrollX, window.scrollY - 100);
  // });

  // Scrolling Animation

  // TODO: GET A BETTER SCROLL FUNCTION!

  $(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top - 100
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        // window.location.hash = hash;
      });
    } // End if
  });
});

</script>
