{% assign version-number = "3.3.0" %}

<head>
  <title id='np_title'> </title>
  <link rel="icon" type="image/png" href="{{ "/assets/img/favico.png" | relative_url }}">

  <!-- Include font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">

  <!-- Include Amplitude JS -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@{{version-number}}/dist/amplitude.js"></script>

  <!-- Include theme head -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, match_parent">
  <meta name="theme-color" content="#fff">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">


  <!-- Call the Azuracast API on page load -->

  <!--
    Include UX functions JS

    NOTE: These are for handling things outside of the scope of AmplitudeJS
  -->
  <!-- <script type="text/javascript" src="/assets/js/functions.js"></script> -->

  <!-- Include Style Sheets -->

  <link rel="stylesheet" type="text/scss" href="/assets/main.css"/>
  <!-- <link rel="stylesheet" type="text/css" href="/assets/css/single-song-styles.css"/> -->
  <!-- <link rel="stylesheet" href="/assets/css/app.css"> -->

  <!-- OLD Foundation Framework CSS -->
  <!-- <link rel="stylesheet" href="/assets/css/foundation.min.css"> -->
  <!-- Foundation jQuery and Functions -->
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/foundation.js"></script>
  <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132579135-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132579135-1');
</script>

</head>
