<div class="now-playing" id="nowplaying">
  <div class="grid-y">
    <div class="description">
      <div class="grid-x">
        <div class="cell auto">
          <h1 class="all-caps">NOW PLAYING: <span id="np_track_name"></span></h1>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell auto">
          <h1 class="all-caps"><span id="np_current_dj"></span></h1>
          <p><span id="track_description"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
