{% assign show-count = site.shows | size %}

{% assign large-cols = 3 %}
{% assign med-cols = 2 %}

{% comment %}

  NOTE: The following variables sets the amount

{% endcomment %}
{% assign large-mod = show-count | modulo: large-cols %}
{% if large-mod == 0 %}
  {% assign large-rows = show-count | divided_by: large-cols %}
{% else %}
  {% assign large-rows = show-count | divided_by: large-cols | plus: 1 %}
{% endif %}

{% assign med-mod = show-count | modulo: med-cols %}
{% if med-mod == 0 %}
  {% assign med-rows = show-count | divided_by: med-cols %}

{% else %}
  {% assign med-rows = show-count | divided_by: med-cols | plus: 1 %}
{% endif %}

<div class="shows" id="shows">
  <div class="grid-y">
    <div class="content">
      <div class="grid-x">
        <div class="cell shrink">
          <h1 class="all-caps">Shows</h1>
        </div>
      </div>

      <!-- Begin Large View -->

      <div class="grid-x grid-margin-x show-for-large">
        {% for show in site.shows %}

          <!-- Set things up -->
          {% if forloop.index == 1 %}

            {% assign count = 1 %}

          {% endif %}

          {% if count == 1 %}

            <div class="cell large-4">
              <div class="grid-y  medium-grid-frame">

                <div class="cell medium-1 show-container" style="height: auto;">
                  <div class="cell small-1" style="height:auto;">
                    <div class="grid-y">
                      <div class="cell show-title">
                        <h2 class="all-caps">{{ show.title }}</h2>
                        <!-- <h5 class="all-caps">{{ show.time }}</h5> -->
                      </div>
                      <div class="cell show-for-medium show-description">

                        {{ show.content }}

                      </div>
                    </div>
                  </div>
                </div>

              {% assign count = count | plus: 1 %}

            {% elsif count == large-rows %}

                  <div class="cell medium-1 show-container" style="height: auto;">
                    <div class="cell small-1" style="height:auto;">
                      <div class="grid-y">
                        <div class="cell show-title">
                          <h2 class="all-caps">{{ show.title }}</h2>
                          <!-- <h5 class="all-caps">{{ show.time }}</h5> -->
                        </div>
                        <!-- TODO: Accordian for show description on small -->
                        <div class="cell show-for-medium show-description">

                          {{ show.content }}

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% if large-mod > 1 %}
                {% assign large-mod = large-mod | minus: 1 %}
                {% assign count = 1 %}
              {% elsif large-mod == 1 %}
                {% assign large-mod = 0 %}
                {% assign count = 1 %}
                {% assign large-rows = large-rows | minus: 1 %}
              {% else %}
                {% assign large-mod = 0 %}
                {% assign count = 1 %}
              {% endif %}

            {% elsif forloop.index == show-count %}

            {% else %}
              {% assign count = count | plus: 1 %}

                <div class="cell medium-1 show-container" style="height: auto;">
                  <div class="cell small-1" style="height:auto;">
                    <div class="grid-y">
                      <div class="cell show-title">
                        <h2 class="all-caps">{{ show.title }}</h2>
                        <!-- <h5 class="all-caps">{{ show.time }}</h5> -->
                      </div>
                      <!-- TODO: Accordian for show description on small -->
                      <div class="cell show-for-medium show-description">

                        {{ show.content }}

                      </div>
                    </div>
                  </div>
                </div>
          {% endif %}

        {% endfor %}

      </div>
      <!-- End Large View -->

      <!-- Begin Medium View -->

      <div class="grid-x grid-margin-x show-for-medium hide-for-large">

        {% for show in site.shows %}

          <!-- Set things up -->
          {% if forloop.index == 1 %}

            {% assign count = 1 %}

          {% endif %}

          {% if count == 1 %}

            <div class="cell medium-6">
              <div class="grid-y  medium-grid-frame">

                <div class="cell medium-1 show-container" style="height: auto;">
                  <div class="cell small-1" style="height:auto;">
                    <div class="grid-y">
                      <div class="cell show-title">
                        <h2 class="all-caps">{{ show.title }}</h2>
                        <!-- <h5 class="all-caps">{{ show.time }}</h5> -->
                      </div>
                      <div class="cell show-for-medium show-description">

                          {{ show.content }}

                      </div>
                    </div>
                  </div>
                </div>

              {% assign count = count | plus: 1 %}

            {% elsif count == med-rows %}

                  <div class="cell medium-1 show-container" style="height: auto;">
                    <div class="cell small-1" style="height:auto;">
                      <div class="grid-y">
                        <div class="cell show-title">
                          <h2 class="all-caps">{{ show.title }}</h2>
                          <!-- <h5 class="all-caps">{{ show.time }}</h5> -->
                        </div>
                        <!-- TODO: Accordian for show description on small -->
                        <div class="cell show-for-medium show-description">

                            {{ show.content }}

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% if med-mod > 1 %}
                {% assign med-mod = med-mod | minus: 1 %}
                {% assign count = 1 %}
              {% elsif med-mod == 1 %}
                {% assign med-mod = 0 %}
                {% assign count = 1 %}
                {% assign med-rows = med-rows| minus: 1 %}
              {% else %}
                {% assign med-mod = 0 %}
                {% assign count = 1 %}
              {% endif %}

            {% else %}
              {% assign count = count | plus: 1 %}
                <div class="cell medium-1 show-container" sty le="height: auto;">
                  <div class="cell small-1" style="height:auto;">
                    <div class="grid-y">
                      <div class="cell show-title">
                        <h2 class="all-caps">{{ show.title }}</h2>
                        <!-- <h5 class="all-caps">{{ show.time }}</h5> -->
                      </div>
                      <!-- TODO: Accordian for show description on small -->
                      <div class="cell show-for-medium show-description">

                          {{ show.content }}

                      </div>
                    </div>
                  </div>
                </div>
          {% endif %}

        {% endfor %}

      </div>
      <!-- End Medium View -->

      <!-- Begin Small View -->

      <div class="grid-y  hide-for-medium">

        {% for show in site.shows %}
          <div class="cell small-1" style="height:auto;">
            <div class="grid-y">
              <div class="cell show-title">
                <h2 class="all-caps">{{ show.title }}</h2>
                <!-- <h5 class="all-caps">{{ show.time }}</h5> -->
              </div>
              <div class="cell">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">more info</a>
                    <div class="accordion-content show-description" data-tab-content>
                      {{ show.content }}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
