<div class="splash" id="splash">
  <div class="grid-y">
    <div class="cell small-12">
      <!-- <img src="./assets/img/full-logo.svg" class="float-center" /> -->
      <div class="control-container float-center">
        <a href="#nowplaying">
          <div class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause"></div>
        </a>
      </div>
        <h1>come and play it</h1>
      <div id="splash" class="align-bottom"></div>
    </div>
  </div>
</div>
