<div class="support" id="support">
  <div class="grid-y">
    <div class="content">
      <div class="grid-margin-x">
        <div class="cell shrink">
          <h1 class="all-caps">Support</h1>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell small-12 float-center">
          <p>
            Other Radio Texas is a Non Profit, volunteer run, community supported internet radio station based out of Austin, Texas. We believe that the music culture in our state is both unique and world class. As the population of the Texas grows, we hope to see the genuine music culture supported by an infrastructure of media as forward thinking as the artists that give it life. At O.R.T. we will be broadcasting music from Texan DJs, musicians, label heads and other curators so that the world will be able to get a glimpse into the many thriving underground music scenes we are so privileged to have in our state. If you are interested in supporting Other Radio Texas, here are some ways you can help.
          </p>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-12 large-12">
            <h3 class="all-caps"><img src='assets/img/patreon-icon.png' /><br /><img src='assets/img/patreon-wordmark.png' /></h3>
          <p>
            The easiest way to make a donation to ORT is through our Patreon page.  This money will be used exclusively for costs associated music and broadcasting gear, network costs, fundraiser events, and to help pay our small staff.
          </p>
          <p>
            <a href="https://www.patreon.com/bePatron?u=13046314" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
          </p>
        </div>
        <div class="cell small-12 medium-6">
          <h2 class="all-caps">HOST</h2>
          <p>
            Do you have an idea for a radio show? Are you a musician, producer, or DJ? Do you have a space to host broadcasts? We are always on the lookout for more content and talented individuals to contribute to the radio show. We have two basic requirements to have a show on Other Radio TX: You must reside in the state of Texas and focus on music or sound that is outside of the normal mainstream radio pallette.
          </p>
          <p>
            Drop a line to show [ at ] ortx.org to get the process moving.
          </p>
        </div>
        <div class="cell small-12 medium-6">
          <h2 class="all-caps">VOLUNTEER</h2>
          <p>
            In addition to our growing family of DJs and music curators, we are always looking for people interested in radio and broadcast to help with things like audio editing and data organization. If you or someone you know is looking to gain experience with these types of things please contact us at otherradiotx@gmail.com
          </p>
          <p>
            Do you hate our website design? Help us fix it. Building an internet radio station is a time intensive process. Whenever we get a second to make the site and experience better, we're on it but we can always use an extra hand. We can help with Python, Javascript, and yr basic regular ole HTML. You can also help us by contributing to the <a href="http://azuracast.com/">Azuracast</a> project.
          </p>
        </div>
        <div class="cell small-12">
          <h2>SHOUT OUTS</h2>
          <p>
            Thanks to the following people for donating on Patreon! Click the link above to have your name added to the list.
          </p>
          <p>
            Justin Bernard
          </p>
        </div>
        <div class="cell small-12">
          <h2>ACKNOWLEDGEMENTS</h2>
          <p>
            Pause and play icons made by <a href="https://www.flaticon.com/authors/appzgear" title="Appzgear">Appzgear</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0</a>
          </p>
          <p>
            ORTX Logo was made and designed by <a href="http://glorygoldandglitter.com/" title="glory gold and glitter">Michael Scheel</a>.
          </p>
          <p>
            ORTX.org was designed and is maintained by <a href="https://davinlawrence.com" alt="behold a tinycact.us">davinlawrence</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
