// ---------------------------------------------------------
//
// Other Radio Specific SCSS files.
//
// 0. Header / Title Bar
// 1. Sections
// 2. Amplitude
// 3. Utility
//
// ---------------------------------------------------------

// 0. Header / Title bar
// ---------------------------------------------------------

.site-header {
  z-index: 100!important;
  position: sticky;
  width: 100%!important;
  max-width: 100%!important;
  height: 65px;
  background-color: $white;
  margin-bottom: 0px;

  .site-logo {
    margin: 5px;
    width: auto!important;
    background-color: $white;

    img {
      width: auto;
      height: 55px;
    }
  }
  .header-text-medium {
    width: calc(100% - 173px);
    width: -webkit-calc(100% - 173px);
    width: -moz-calc(100% - 173px);
    vertical-align: top;
    width: auto!important;
    max-height: 55px;
    margin: 5px;
    padding: 0;

    p {
      padding: 0;
      margin: 0;
      line-height: 1;
    }

    .header-np {
      font-family: Miso;
      text-transform: uppercase;
      height: 20px;
      font-size: 20px;
      overflow: wrap;
      margin: 0;
      padding: 0;
    }

    .text-logo {
      margin: 0;
      padding: 0;
      height: 35px!important;
      font-family: Miso Bold;
      font-size: 35px;
    }
  }

  .header-text-small {
    width: calc(100% - 173px);
    width: -webkit-calc(100% - 173px);
    width: -moz-calc(100% - 173px);
    height: 55px;
    max-height: 55px;
    margin: 5px;
    padding: 0;
    overflow: hidden;

    p {
      padding: 0;
      margin: 0;
      line-height: 1;
    }

    .header-np {
      font-family: Miso;
      text-transform: uppercase;
      height: 20px;
      font-size: 16px;
      overflow: wrap;
      text-overflow: ellipsis;
      margin: 0;
      padding: 0;
    }

    .text-logo {
      margin: 0;
      padding: 0;
      height: 22px!important;
      font-family: Miso Bold;
      font-size: 22px;
    }
  }

  .control-container {
    margin: 5px;
    font-family: 'Space Mono', monospace;
    float: left;
    width: 55px!important;
    height: 55px;
    color: $black;
    vertical-align: middle;
    text-align: center;
    background-color: $white;

    svg {
      fill: $black;
    }
  }
  .control-container .amplitude-play-pause {
    width: 55px;
    height: 55px;
    cursor: pointer;
    float: left;
  }
  .control-container .amplitude-play-pause.amplitude-paused {
    background: url("./img/play.svg");
    background-size: cover;
  }
  .control-container .amplitude-play-pause.amplitude-playing {
    background: url("./img/pause.svg");
    background-size: cover;
  }
}

.menu-bar {
  text-transform: uppercase;
  width: 100%!important;
  max-width: 100%!important;
  overflow-x: visible!important;
  height: auto;
  background-color: $black;
  font-size: 20px;
  font-family: $header-font-family;
  color: $white;
  z-index: 1000;

  .menu-item {
    width: auto;
    margin: 0px 4px;
    a {
      color: $white;
      font-weight: 900;
    }
  }
}

// 1. Sections
// ---------------------------------------------------------

.splash {
  top: 0vh;
  height: 100vh;
  width: 100%;
  color: $white;
  overflow: hidden;
  background: rgba(0,0,0,1);
  z-index: 1000!important;
  // padding: 30px 15px 15px 15px;

  h1 {
    font-family: Miso Bold;
    font-size: 350%;
    margin-top: 1vh;
    margin-bottom: auto;
    text-align: center;
    text-transform: uppercase;
  }

  .control-container .amplitude-play-pause {
    margin-left: auto!important;
    margin-right: auto!important;
    margin: 25vh auto 0 auto;
  }
  .control-container .amplitude-play-pause {
    width: 310px;
    height: 310px;
    cursor: pointer;
    align: center;
  }
  .control-container .amplitude-play-pause.amplitude-paused {
    background: url("../assets/img/white-play.svg");
    background-size: cover;
  }
  .control-container .amplitude-play-pause.amplitude-playing {
    background: url("../assets/img/white-pause.svg");
    background-size: cover;
  }
}


.now-playing {
  display: block;
  margin: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background:rgba(0,0,0,0);
  overflow-x: hidden;
  color: white;
  padding: 30px 15px 15px 15px;

  .description {
    color: $white;
    width: 100%;

    h1 {
      color: $white;
      width: auto;
      word-wrap: normal;
      padding-bottom: 5px;
      font-weight: 700;

      span {
        padding: 5px;
      }
    }
    h2 {
      font-weight: 700;
      span {
        padding: 5px;

      }
      color: $white;
    }
    p, .tracklist {
      color: $white;
      padding: 5px;
    }
    li {
      margin-left: 20px;
    }
  }
}

.shows {
  color: $white;
  padding: 30px 15px 15px 15px;
  overflow-x: hidden;
  margin-bottom: 15px;

  .content {
    color: $white;
    background: rgba(0,0,0,0.8);
    width: 90%;
    margin: 15px auto 100px auto;
    padding: 15px;


    a, a:hover, a:active {
      color: $white;
      background: rgba(0,0,0,0)
    }

    a:hover, a:active {
      color: $black;
      background: rgba(255,255,255,.9)
    }

    h1 {
      color: $white;
      width: auto;
    }

    h4 {
      color: $white;
      width: 100%;
      text-align: left;
      margin: 0px auto;
    }

    h5 {
      color: $white;
      width: 100%;
      text-align: left;
      padding-bottom: 5px;
    }

    .show-title {
      margin-bottom: 0;
      width: 100%
    }

    .show-description {
      margin-top: 0;
      height: auto;
      width: 100%;
      text-align: justify;

      p, accordion-content {
        color: $white;
        width: 100%;
        padding-bottom: 15px;
        margin-top: 0;
      }
    }

    .show-container {
      height: auto;
      width: 100%;
    }
    .accordion-title {
      text-align: left;
      width: 100%
    }
    .accordion {
      width: 100%;
    }
    .accordion-item {
      width: 100%;
    }
  }
}

.support {
  padding: 30px 15px 15px 15px;
  width: 100%;
  background:rgba(0,0,0,0);
  overflow-x: hidden;

  .content {
    background: rgba(0,0,0,0.8);
    width: 90%;
    padding: 15px;
    margin: 15px auto 100px auto;
  }

  h1 {
    color: $white;
    text-align: left;
  }
  h2 {

    text-align: left;
    color: $white;

  }
  h3 {
    background: rgba(0,0,0,0);
    text-align: center;

    img {
      width: auto;
      height: 100px;
    }
  }

  p {
    color: $white;
    text-align: justify;
  }
}

// 2. Amplitude
// ---------------------------------------------------------

.splash {

}

// 3. Utility
// ---------------------------------------------------------

.background {
  position: fixed;
  top: 0px;
  z-index: -1!important;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.all-caps {
  text-transform: uppercase;
}

.sticky {
  width: 100%;
}

.page-content {
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  background: rgba(0,0,0,0);
}

.page-content::-webkit-scrollbar { width: 0 !important }

html, body {
  height: 100vh;
  background: rgba(0,0,0,0);
}
