<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.liquid -%}

  <body >

    <main class="page-content" aria-label="Content">
      <div class="background" id="track_artwork">

      </div>

        {{ content }}

    </main>

  </body>
  <script type="text/javascript" src="/assets/js/azuracastapi.js"></script>
  <script src="assets/js/jquery.js"></script>
  <!-- <script src="assets  /js/what-input.js"></script> -->
  <script src="assets/js/foundation.js"></script>
  <script src="assets/js/app.js"></script>
</html>
